<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1017514418873-j9qdsmmjas6qtfbka9bqehsup6crca0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017514418873-j9qdsmmjas6qtfbka9bqehsup6crca0j</string>
	<key>API_KEY</key>
	<string>AIzaSyCzoJso1oKZdn7SPS64x24mYwYBxy9Wfio</string>
	<key>GCM_SENDER_ID</key>
	<string>1017514418873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.knowledgeexchange</string>
	<key>PROJECT_ID</key>
	<string>knowledge-exchange-993d0</string>
	<key>STORAGE_BUCKET</key>
	<string>knowledge-exchange-993d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017514418873:ios:bfa067b33ea09b37</string>
	<key>DATABASE_URL</key>
	<string>https://knowledge-exchange-993d0.firebaseio.com</string>
</dict>
</plist>